<nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a><%= link_to "My Contact" %></a></li>
                <li><a><%= link_to "New Contact" %></a></li>
                <li><a><%= link_to "Log Out" %></a></li>
            </ul>
            <h1 class="logo">
              <%= link_to "Contact Book", root_path %>
            </h1>
        </div>
    </nav>